header{
    background-image: url("../a.jpg");
}
#boule
{
    display: flex;
   flex-direction: row;
   align-items: baseline;
}

#boule img
{
    width: 17px;
    height: 20px;
}

header h4
{
    font-family: dayrom, serif;
    font-size: 1.0em;
    margin-top: 0px;
    font-weight:10px;
}
.antialiased{
    align-self: center;
}

.containeur{
    position: relative;

    width: 300px;
    height: 200px;

}
.input{
    width: 70px;
    height: 30px;
    background-color: rgb(16, 221, 84);
    text-align: center;
}
input
{

    margin: 30px 10px 10px 30px;
    border: none;
}
span{
    position: relative;
    text-align: center;
    color: rgb(96, 121, 9);
}
p{
    background-color: aqua;
    text-align: center;
}
aside{
    background-image: url("/download.jpg");

}
.green input{
    background-color: rgb(202, 114, 55);
    position: relative;
    text-align: center;
}
