body {
    background-image: url("../download.jpg");
}

.containeur{
    position: relative;
    left: 30px; right: 0; top: 100px; bottom: 0;
    background-color: rgba(32, 34, 170, 0.815);
    color: rgba(247, 14, 142, 0.918);
    width: 300px;
    height: 200px;
    align-self: center;
}
.input{
    width: 45px;
    height: 25px;
    background-color: rgb(214, 191, 191);
    text-align: center;
}
input
{
    margin: 30px 0px 0px 20px;
    border: none;
}
select{
    scrollbar-arrow-color: aqua;
}
span{
    position: absolute;
    text-align: center;
    color: brown;
}
